@using EStoreWebApp.Models;
@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('/images/11.jpg');
        image: url('/images/14.jpg');
        background-size: cover; /* Adjust as needed */
        background-position: center; /* Adjust as needed */
        background-repeat: no-repeat;
    }

    .text-center {
        color: #fff; /* Adjust text color for visibility */
    }

    h1 {
        font-size:7rem; /* Adjust as needed */
        font-family: 'Times New Roman', Times, serif;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome To HK Productions</h1>
    <hr/>
</div>


